* {
  box-sizing: border-box;
}
body{
  margin: 0;
}
header {
  background-image: url(../Imatges/Espacio.jpg);
  text-align: center;
  padding: 20px;
  color: #FFFFFF;
  background-size: cover;
  border-color: #FFFFFF;
  border-width: 2px;
}
nav{
  float: left;
  width: 25%;
  background-image:url(../Imatges/cieloespacial.avif);
  background-size: cover;
  padding: 10px;
  color: #FFFFFF;
  font-size: 20px;
  border-color: #FFFFFF;
  border-width: 2px;
}
a{
  color: #FFFFFF;
}
a:hover{
  color: aqua;
}
main{
  float: left;
  width: 50%;
  background-image: url(../Imatges/outerspace-58.gif);
  padding: 10px;
  content: none;
  border-color: #FFFFFF;
  border-width: 2px;
  color: #FFFFFF;
  background-size: cover;
  height: 654px;
}
#anime{
  height: 150px;
  width: 300px;
  border-color: #FFFFFF;
  border-width: 2px;
}
#videojuegos{
  height: 150px;
  width: 300px;
  border-color: #FFFFFF;
  border-width: 2px;
}
#formula1{
  height: 150px;
  width: 300px;
  border-color: #FFFFFF;
  border-width: 2px;
}
article{
  float: left;
  width: 25%;
  background-size: cover;
}
#medir::after{
  content: "";
  display: table;
  clear: both;
}
#emilia{
  height: 654px;
  width: 100%;
}