body {
  background-image: url(../Imatges/Espacio.jpg);
  background-repeat: no-repeat;
  height: 1348px;
  width: 1067px;
}
h1 {
  color: #E1BAFF;
}
p {
	color: #FFFFFF;
}
li {
  color: #FFFFFF;
}
dt {
  color: #FFFFFF;
}
dd {
  color: #FFFFFF;
}