body {
  background-image: url(../Imatges/Espacio.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
}
h1 {
  color: #E1BAFF;
}
p {
	color: #FFFFFF;
}
li {
  color: #FFFFFF;
}
dt {
  color: #FFFFFF;
}
dd {
  color: #FFFFFF;
}
a {
  color: #FFFFFF;
}